<app-header [backButton]="'/auth'" title="Restablecer Contraseña"></app-header>

<ion-content class="login">
  <div class="d-flex-center container login-container">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <p class="text-card">Ingrese su nueva clave</p>

      <app-input-field
        type="password"
        label="Contraseña"
        icon="lock-closed-outline"
        [control]="form.controls.password"
      ></app-input-field>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida.</div>
      </div>

      <p class="text-card" *ngIf="form.controls.password.value">Confirmar clave</p>

      <app-input-field
        type="password"
        label="Contraseña"
        icon="lock-closed-outline"
        [control]="form.controls.validatePassword"
        *ngIf="form.controls.password.value"
      ></app-input-field>

      <div class="validators" *ngIf="form.controls.validatePassword.errors && form.controls.validatePassword.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida.</div>
      </div>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="outline">
        Restablecer contraseña
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>