<app-header [backButton]="'/auth'" title="Recuperar contraseña"></app-header>

<ion-content class="login">
  <div class="d-flex-center container login-container">
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <p class="text-card">Ingresa tu correo eléctronico para enviar el correo de recuperación</p>

      <app-input-field autocomplete="email" type="email" label="Correo" icon="mail-outline"
        [control]="form.controls.email"></app-input-field>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido.</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido.</div>
      </div>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="outline">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>