// Media Queries Sizes

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors - Principal

$primary: #003466;
$dark-primary: #07182e;
$secundary: #f88d2b; 
$dark-secundary: #c7701f;
$black: #000;
$white: #fff;
$gray: #404040;
$background-header: #cbcbcb;
$border-input: #e0e0e0;

// Colors - Cards

$card-primary: #757575;
$card-dark-primary: #404040;
$card-secondary: #304cb2;
$card-button-bg: #f3f3f3;
$card-button-border: #cccccc;
$card-button-color: #333;

// Spacing

$separacion: 5rem;