@import "/src/theme/custom-variables.scss";

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    color: $gray;
}

.container {
    width: 95%;
    max-width: 52rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    margin: 0 0 $separacion 0;
    color: $gray;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

ion-input label {
    font-size: 1.6rem;
}

ion-icon,
ion-button ion-icon {
    font-size: 2rem;
}

ion-button {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.new-background-color {
    --background: $primary;
}

.safe-p-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.submit {
    margin-top: 2rem;
}

.empty {
    text-align: center;
    padding: 6rem;
    opacity: 30%;

    ion-icon {
        font-size: 10rem;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
    --border-color: $border-input;
    --border-radius: 1.5rem;
    --border-style: solid;
    --border-width: 0.1rem;
    margin: 2rem 0;

    ion-label {
        position: relative;
    }

    .eye-icon {
        position: relative;
        top: 1.3rem;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 1.3rem;
    text-align: center;
}

.auth-form {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.product-item {
    --padding-top: 2rem;

    ion-avatar {
        width: 7rem;
        height: 8rem;
        --border-radius: 1.5rem;
    }

    .name {
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    .data {
        font-size: 1.3rem;

        strong {
            font-weight: 500;
        }
    }

    .option-btn {
        font-size: 2.7rem;
    }

    ion-chip {
        font-size: 1.4rem;
        border-radius: 1rem;
        margin-left: 0;
    }
}

.login {
    --background: #{$primary};
    --color: #{$white};
}

.login-container {
    margin-top: 5rem;
    border-radius: 1.5rem;
    background: $white;
}

.option-text {
    transition: 300ms ease-in-out;
    color: $primary;
}

.option-text:hover {
    cursor: pointer;
    color: $dark-primary;
    text-decoration: underline;
}

.color-button {
    --background: #{$primary};
    --color: #{$white};
}

@media (min-width: 769px) {
    .auth-form {
        width: 50rem;
    }

    .add-update-modal {
        --height: 68rem;
    }
}